<div class="yohaku"></div>
<div class="mx-auto w-50">
<div class = "card">
<div class ="text-center mt-3">
<div class="post-body">

  <%= attachment_image_tag @post_youtuber, :image, :fill, 300, 300, fallback: "no_image.jpg" %>
  <%= form_with model:@post_youtuber, local: true do |f| %>
  <div class="form-group">
    <h3>プロフィール画像</h3>
      <div class="input-group">
        <div class="input-group-prepend"></div>
     <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
   </div>
      </div>
      
      <div class="form-group">
        <label for="ch_name">
          チャンネル名
        </label>
        <p>
          <%= f.text_field :ch_name %>
        </p>
      </div>
      <div class="form-group">
        <label for="member">
          登録者
        </label>
        <p>
          <%= f.text_field :member %>
        </p>
      </div>
      <div class="form-group">
        <label for="category">
          カテゴリー
        </label>
        <p>
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'カテゴリーを選択してください' } %> </p>
      </div>
      <div class="form-group">
        <label for="tag_list">
          タグ
        </label>
        <p>
        <%= f.text_field :tag_list, value: @post_youtuber.tag_list.join(','), id: 'tags' , class: "form-control mr-3", "data-role" => "tagsinput" %>
        </p>
      </div>
            <div class="form-group">
        <label for="caption">
          チャンネル説明
        </label>
        <p>
          <%= f.text_area :caption %>
        </p>
      </div>
       <div class="form-group">
        <label for="url">
          チャンネルURL
        </label>
        <p>
          https://www.youtube.com/channel/<%= f.text_field :url %>
        </p>
      </div>
       <div class="form-group">
        <label for="youtube_url">
          動画URL
        </label>
        <p>
          https://youtu.be/<%= f.text_field :youtube_url %>
        </p>
      </div>
      
      <div class="form-group">
        <p><%= f.submit 'Update', class: "btn btn-success" %></p>
      </div>
      <p>
        <%= link_to "Show", post_youtuber_path(@post_youtuber) %>
        |
        <%= link_to "Back", post_youtubers_path %>
      </p>

</div>
</div>
</div>
</div>

<%end%>