
<div class ="yohaku"></div>


<div class="mx-auto w-50">
<div class ="text-center mt-3"><h1>NEW POST</h1></div>
<% if @post_youtuber.errors.any? %>
  <%= @post_youtuber.errors.count %>件のエラーが発生しました
  <% @post_youtuber.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @post_youtuber, local:true do |f| %>
   <div class ="max-auto w-50">
    <label for="ch_name">チャンネル名</label>
     <div class="form-group">
        <%= f.text_field :ch_name, autofocus: true, placeholder: "チャンネル名", class: "form-control mr-3" %>
    </div>
    <div class="invalid-tooltip">Please enter a last name.</div>
   </div>
   
   <div class ="max-auto w-50">
    <label for="member">登録者数</label>
     <div class="form-group"> 
       <%= f.text_field :member, autofocus: true, placeholder: "半角数字", class: "form-control mr-3" %>
     </div>
   </div>
   
   <div class="form-group">
    <label for="caption">チャンネル概要</label>
        <%= f.text_area :caption, autofocus: true, placeholder: "チャンネル概要", class: "form-control mr-3" %>
    </div>
   
   
   <div class="form-group">
    <label for="url">チャンネルURL</label>
        <%= f.text_field :url, autofocus: true, placeholder: " (https://www.youtube.com/channel/XXXXXXXXXXXX ) ", class: "form-control mr-3" %>
    </div>

   <div class="form-group">
    <label for="youtube_url">イチオシ動画</label>
        <%= f.text_field :youtube_url, autofocus: true, placeholder: " (https://youtu.be/XXXXXXXXXXXX)", class: "form-control mr-3" %>
    </div>

   <div class="form-group">
    <label for="タグ">タグ　(※半角カンマで区切る)</label>
        <%= f.text_field :tag_list, value: @post_youtuber.tag_list.join(','), id: 'tags' , class: "form-control mr-3","data-role" => "tagsinput" %>
    </div>
   
   <div class ="max-auto w-50">
    <label for="category_id">カテゴリー</label>
     <div class="form-group">
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'カテゴリーを選択してください' }, class: 'form-control' %>
     </div>
   </div>
   
  <div class="form-group">
    <label for="image">チャンネル画像</label>
  <div class="form-group">
   <%= f.attachment_field :image %>
  </div>
  </div>

 <div class="form-inline mb-3">
    <div class="form-group">
      <%= f.submit "投稿", class: "btn btn-block btn-success" %>
    </div>
    </div>
<% end %>

</div>
