<div class ="yohaku"></div>

<h1>投稿フォーム</h1>
<% if @post_youtuber.errors.any? %>
  <%= @post_youtuber.errors.count %>件のエラーが発生しました
  <% @post_youtuber.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @post_youtuber, local:true do |f| %>
   <div class="form-inline mb-3">
   <div class="form-group">
        <%= f.text_field :ch_name, autofocus: true, placeholder: "チャンネル名", class: "form-control mr-3" %>
    </div>
 　</div>
 
   <div class="form-inline mb-3">
   <div class="form-group">
        <%= f.text_area :caption, autofocus: true, placeholder: "チャンネル説明", class: "form-control mr-3" %>
    </div>
 　</div>
 
   <div class="form-inline mb-3">
   <div class="form-group"> 
    <%= f.select :member, [["0~5000", "5000"], ["5001~10000", "10000"],["10001~100000", "100000"],["100001~1000000", "1000000"]], include_blank: "選択して下さい" %>
    </div>
 　</div>
 　
   <div class="form-inline mb-3">
   <div class="form-group">
        <%= f.text_field :url, autofocus: true, placeholder: "チャンネルURL", class: "form-control mr-3" %>
    </div>
 　</div>
 　
   <div class="form-inline mb-3">
   <div class="form-group">
        <%= f.text_field :tag_list, value: @post_youtuber.tag_list.join(','), id: 'tags' %>
    </div>
 　</div>
 　
  <h4>画像</h4>
  <%= f.attachment_field :image %>

 <div class="form-inline mb-3">
    <div class="form-group">
      <%= f.submit "投稿", class: "btn btn-block btn-success" %>
    </div>
    </div>
<% end %>

