<div class = "yohaku"></div>
<!-- 月間ランキング　-->
<div class="rank-container1">
<h1>月間ランキング</h1>

  <% @ranks.each.with_index(1) do |post_youtuber, i| %>
  <div class="rank-box">
    <%= i %>位
    <div class="card shadow-lg">
      <%= link_to post_youtuber_path(post_youtuber) do %>
        <%= attachment_image_tag post_youtuber, :image, :fill, 200, 120, class:"card-img-top"; %>
      <% end %>
      <div class="card-body pt-1 pb-1">
        <p class="card-title mb-0">◆<%= post_youtuber.ch_name.truncate(10) %></p>
        <div class="row border-top m-auto">
          <div class="col-6">
            <%= link_to user_path(post_youtuber.user) do %>
            <%= attachment_image_tag post_youtuber.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:" rounded-circle no-image"; %><br>
            <% end %>
          </div>
          <div class="col-5 offset-1 pt-3">
            <%= link_to "詳細", post_youtuber_path(post_youtuber), class: "btn btn-sm btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="rank-container2">
<h1>デイリーランキング</h1>
  <% @daily_ranks.each.with_index(1) do |post_youtuber, i| %>
  <div class="rank-box">
    <%= i %>位
    <div class="card shadow-lg">
      <%= link_to post_youtuber_path(post_youtuber) do %>
        <%= attachment_image_tag post_youtuber, :image, :fill, 200, 120, class:"card-img-top"; %>
      <% end %>
      <div class="card-body pt-1 pb-1">
        <p class="card-title mb-0">◆<%= post_youtuber.ch_name.truncate(10) %></p>
        <div class="row border-top m-auto">
          <div class="col-6">
            <%= link_to user_path(post_youtuber.user) do %>
            <%= attachment_image_tag post_youtuber.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:" rounded-circle no-image"; %><br>
            <% end %>
          </div>
          <div class="col-5 offset-1 pt-3">
            <%= link_to "詳細", post_youtuber_path(post_youtuber), class: "btn btn-sm btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="rank-container3">
<h1>ウィークリーランキング</h1>

  <% @weekly_ranks.each.with_index(1) do |post_youtuber, i| %>
  <div class="rank-box">
    <%= i %>位
    <div class="card shadow-lg">
      <%= link_to post_youtuber_path(post_youtuber) do %>
        <%= attachment_image_tag post_youtuber, :image, :fill, 200, 120, class:"card-img-top"; %>
      <% end %>
      <div class="card-body pt-1 pb-1">
        <p class="card-title mb-0">◆<%= post_youtuber.ch_name.truncate(10) %></p>
        <div class="row border-top m-auto">
          <div class="col-6">
            <%= link_to user_path(post_youtuber.user) do %>
            <%= attachment_image_tag post_youtuber.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:" rounded-circle no-image"; %><br>
            <% end %>
          </div>
          <div class="col-5 offset-1 pt-3">
            <%= link_to "詳細", post_youtuber_path(post_youtuber), class: "btn btn-sm btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>