<!DOCTYPE html>
<html>
  <head>
    <title>Youtube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/scrollreveal"></script>
    <!-- スライドショー -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
       <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
  
</script>
  </head>

 <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
    <nav class="navbar navbar-dark bg-dark">
      <!-- アイコン  -->
      <a class="navbar-brand p-2" href="/"><%= image_tag('yt_logo_mono_dark.png',size: '10%') %></a> 
      
      <% if flash[:notice] %>
      <div class="flash text-light center-block" >
        <%= flash[:notice] %>
      </div>
    <% end %>
      
      <!-- ドロップリストボタン -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
           <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'SEARCH', tubes_index_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to 'YOUTUBERS', post_youtubers_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to 'RANKING', post_youtubers_rank_path, class: 'nav-link text-light' %>
            </li>            
            <li class="nav-item">
              <%= link_to 'NEW POST', new_post_youtuber_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to 'MY PAGE', user_path(current_user.id), class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
            <% else %>
            <li>
              <%= link_to "About", about_path, class: "fas fa-link nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
            </li>
            <% end %>
            </ul>
          
        </ul>
      </div>
    </nav>
    
    </header>
    
    
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-4 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>新人YOUTUBERを応援するSNS</p>
            <%= image_tag('yt_logo_mono_dark.png') %>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
